###Django###

*.log
*.pot
*.pyc
local_settings.py
static
google/*
*.sqlite3
docs/_build
docs/_apidoc
whoosh_index

###React###
node_modules
webpack-stats.json
static/bundles/mapclient-*

gee_bridge/staticfiles/
assets

\.vscode/

\.pytest_cache/

assets/

src/

\.DS_Store
