[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6.6'

[dev-packages]
pytest = "*"
pytest-bdd = "*"
pytest-django = "*"
ipdb = "*"
Sphinx = "*"
sphinx-autoapi = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-mermaid = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-redoc = "*"
sphinxcontrib-swaggerdoc = "*"
guzzle_sphinx_theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-dd = "*"
plantweb = "*"
graphviz = "*"
pygraphviz = "*"
ipython = "*"
"django-bootstrap4" = "*"
sphinxcontrib-golangdomain = {git = "https://bitbucket.org/ymotongpoo/sphinxcontrib-golangdomain.git", editable = true, ref = "master"}
"flake8" = "*"
factory-boy = "*"

[packages]
earthengine-api = "*"
djangorestframework = "*"
django-rest-swagger = "*"
djangorestframework-jwt = "*"
djangorestframework-yaml = "*"
djoser = "*"
Pygments = "*"
Markdown = "*"
supervisor = {git = "https://github.com/Supervisor/supervisor.git", editable = true, ref = "master"}
gunicorn = "*"
whitenoise = "*"
django-extensions = "*"
django_polymorphic = "*"
django-googledrive-storage = "*"
django-cors-headers = "*"
drfdocs = "*"
django-http-proxy = "*"
django-webpack-loader = "*"
jsonfield = "*"
jsonpickle = "*"
service_identity = "*"
Whoosh = "*"
geojson = "*"
GDAL = "==2.1.3"
"beautifulsoup4" = "*"
retrying = "*"
pathlib = "*"
Django = ">=1.11,<2.0"
daphne = "==1.4.1"
channels = "==1.1.8"
"django-bootstrap4" = "*"
django-oauth-toolkit = "<=1.1.2"
"enum34" = "*"
drf-yasg = {extras = ["validation"], version = "*"}
django-storages = "*"
asgi_redis = "*"
asgiref = "~=1.1"
django-rest-auth = {extras = ["with-social"], version = "*"}
django-allauth = "*"
google-cloud-storage = "*"
firebase-admin = "*"
djangorestframework-filters = "*"
django-filter = ">=1.1.0,<2.0"
"psycopg2" = "*"
django-prettyjson = "*"
django-admin-json-editor = "*"
