[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '2.7.13'


[dev-packages]

pytest = "*"
pytest-bdd = "*"
pytest-django = "*"
ipdb = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-mermaid = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-redoc = "*"
sphinxcontrib-swaggerdoc = "*"
guzzle-sphinx-theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-dd = "*"
plantweb = "*"
graphviz = "*"
pygraphviz = "*"
ipython = "*"
"django-bootstrap4" = "*"
sphinxcontrib-golangdomain = "==0.1.3dev"


[packages]

earthengine-api = "*"
djangorestframework = "*"
django-rest-swagger = "*"
djangorestframework-jwt = "*"
djangorestframework-yaml = "*"
drfpasswordless = "*"
djoser = "*"
pygments = "*"
markdown = "*"
supervisor = "*"
gunicorn = "*"
whitenoise = "*"
django-extensions = "*"
django-polymorphic = "*"
django-googledrive-storage = "*"
django-cors-headers = "*"
drfdocs = "*"
django-http-proxy = "*"
django-webpack-loader = "*"
jsonfield = "*"
jsonpickle = "*"
service-identity = "*"
whoosh = "*"
geojson = "*"
gdal = "==2.1.3"
"beautifulsoup4" = "*"
retrying = "*"
pathlib = "*"
django = "==1.11.10"
daphne = "==1.4.1"
channels = "==1.0"
"django-bootstrap4" = "*"
django-oauth-toolkit = "*"
"enum34" = "*"
drf-yasg = {extras = ["validation"]}
django-storages = "*"
